.Login {
  text-align: center;
}

.login__heading {
  margin: 10px 0 0;
  font-family: Lato;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.04px;
  color: #fff;
}

.login__signin {
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.login__button {
  margin: 8px 0 0;
  padding: 10px 86px 11px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
}

.login__button:hover {
  opacity: 0.9;
  /* background-color: #4595eb; */
}
.login__metamask {
  display: flex;
  align-items: center;
  justify-content: middle;
}
