.Login-button {
  color: white;
  display: block;
  font-size: 16px;
  height: 60px;
  margin: 10px auto;
  width: 300px;
}


.Private-Spaces-Uniq {
  margin: 10px 0 0;
  font-family: Lato;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.04px;
  color: #fff;
}

.Sign-in {
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.Rectangle-4 {

  margin: 8px 0 0;
  padding: 10px 86px 11px;
  border-radius: 3px;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
}

.Login-button:hover {
  opacity: 0.9;
}

.Login-email {
  background-color: darkgray;
}

.Login-fb {
  background-color: rgb(72, 98, 163);
}

.Login-mm {
  background-color: rgb(255, 125, 0);
}
